header{
    display: flex;
    justify-content:space-between;
    background-color: white;
    align-items: center;
}

li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
}
body{
    background-image: url('pattern.jpg');
    margin: 0;
}

main{
    background-color: white;
    margin: 100px;
    padding: 50px;
}
h1{
    text-align: center;
}
article{
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

footer{
    padding: 10px;
    background-color: black;
}

h4{
    text-align: center;
    color: white;
}